* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 600;
    font-family:'Lucida Sans', sans-serif;
    font-size: 24px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

header, footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
}

header, main, footer {
    padding:0% 5%;
}
/* Footer */

.rsschool {
    width: 100px;
    height: 50px;
    background-image: url(./assets/svg/rs_school_js.svg);
    background-repeat: no-repeat;
}