* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 600;
    font-family:'Lucida Sans', sans-serif;
    font-size: 24px;
}

.wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction:column;
    /* justify-content: space-between; */
}

header, footer {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blanchedalmond;
}

header, main, footer {
    padding:0% 5%;
}

/* Main */

main {
    width: 100%;
    background-color: black;
}

.gallery-container {
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: black;
}

.gallery-img {
    padding: 0;
    width: 40%;
    height: 45vh;
}

.gallery-img:hover {
    transform:scale(1.2);
    transition: 1s;
}

/* Footer */

.rsschool {
    width: 100px;
    height: 50px;
    background-image: url(./assets/svg/rs_school_js.svg);
    background-repeat: no-repeat;
}